.table-container {
    width: 95%;
}

.hide-mobile {
    display: none;
}

@media screen and (min-width: 720px) {
    .table-container {
        width: 80% !important;
    }
}

.icon-pagination {
    font-size: 30px;
    cursor: pointer;
}

.link {
    color: var(--clr-dark);
}