.search-container {
    flex-direction: column !important;
    margin-top: 30px;
}

.search-box {
    width: 300px;
}

@media screen and (min-width: 720px) {
    .search-container {
        flex-direction: row !important;
    }
}